<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!--rewriteModule-->
    <sectionGroup name="modulesSection">
      <section name="rewriteModule" type="RewriteModule.RewriteModuleSectionHandler, RewriteModule" />
    </sectionGroup>
    <!--rewriteModule-->
  </configSections>
  <appSettings>
    <add key="ImagePath" value="http://192.168.1.6/eprint_prod_3.3/document/" />
    <add key="SitePath" value="http://localhost:2222/" />
    <!--<add key="AccountID" value="468, 456"/>-->
    <!--
    -->
    <!--<add key="AccountID" value="611"/>
        <add key="AccountType" value="private"/>-->
    <!--
    <add key="AccountID" value="194" />
    <add key="AccountType" value="private" />
    <add key="CurrencySymbol" value="$" />
    -->
    <!--DefaultID for All Guest user-->
    <!--
    <add key="DefaultClientID" value="0" />
    -->
    <!--<add key="AccountID" value="526"/>
        <add key="AccountType" value="public"/>-->
    <!--
    <add key="CompanyID" value="2099" />
    <add key="EmailEnable" value="on" />
    -->
    <!--<add key="SystemName" value="local"/>-->
    <!--
    <add key="SystemName" value="eprint_test1" />
  
    <add key="StoreimagePath" value="http://192.168.1.6/eprint_prod_3.3/images/StoreImages/" />
    <add key="StyleSheetPath" value="http://192.168.1.6/eprint_prod_3.3/document/store/" />
    -->
    <!--
    <add key="SitePath" value="http://192.168.1.6/eprint_prod_3.3/store/b2b/" />
    <add key="eprintDocument" value="D:\sites\eprint_prod_3.3\document\" />
    <add key="StoreimageHandlerPath" value="D:\sites\eprint_prod_3.3\images\StoreImages\" />
    <add key="ImageHandlerPath" value="D:\sites\eprint_prod_3.3\document\" />
    <add key="FromEmail" value="eprint@infomazetech.com" />
    <add key="FileExtension" value=".aspx" />
    <add key="KeySeparator" value="~" />
    <add key="RewriteModule" value="off" />
    <add key="ServerTimeZoneOrderNumber" value="5" />
    <add key="com.eprintsoftware.www.eprintservice" value="http://192.168.1.6/EprintAPI/eprintservice.asmx" />
    <add key="Paypalbusiness" value="pravee_1256031808_biz@infomazeapps.com" />
    <add key="PaypalLiveMode" value="no" />
    -->
    <!--If this is 'yes' then it will take Live URL else it will take Test URL-->
    <!--
    <add key="PaypalTestUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <add key="PaypalLiveUrl" value="https://www.paypal.com/cgi-bin/webscr" />
    <add key="NewOrderAdminEmailID" value="orders@avivaprint.com.au" />
    <add key="EmailHostName" value="smtp.gmail.com"/>
    <add key="EmailUserName" value="eprint@infomazetech.com"/>
    <add key="EmailPassword" value="WTF1234$"/>
    <add value="Default" key="Telerik.Skin" />

    <add key="FrontEndTemplate" value="http://192.168.1.6/urltest/editabletemplatefrontend/TemplateEditorFrontEnd.Web/" />

    <add key="StorePDFToLocalFolder" value="D:\sites\URLTest\editabletemplatefrontend\TemplateEditorFrontEnd.Web\temppdf\" />
    -->
    <!--Added for Test Need to remove  D:\sites\Eprint\TemplateEditor\TemplateEditor.Web\document\1660-->
    <!--
    <add key="PDFFrom" value="D:\sites\URLTest\editabletemplatebackend\TemplateEditor.Web\document\" />
    -->
    <!--<add key="PDFFrom" value="D:\newsite\EditableTemplatePreview\pdffrom\" />-->
    <!--
    <add key="StorePDFTo" value="D:\sites\eprint_prod_3.3\document\store\" />
    <add key="PDFToURL" value="http://192.168.1.6/eprint_prod_3.3/document/store/" />
    <add key="ImageFromPath" value="D:\sites\URLTest\editabletemplatebackend\TemplateEditor.Web\document\" />
    <add key="ImagePathFromFrontEnd" value="D:\sites\URLTest\editabletemplatefrontend\TemplateEditorFrontEnd.Web\document\" />
    <add key="ImageToPath" value="D:\sites\URLTest\editabletemplatebackend\TemplateEditor.Web\document\" />
    -->
    <!--<add key="ImageURL" value="http://192.168.1.81/EditableTemplatePreview\pdffrom\" />-->
    <!--
    -->
    <!-- following keys are used For email settings -->
    <!--
    <add key="mSmtpClientPort" value="587"/>
    <add key="mSmtpClientEnableSsl" value="true"/>-->
    <!--<add key="HostName" value="eprint_prod_3_3" />-->
    <!--<add key="HostName" value="Eprint_v3.3_Roopa" />-->
    <add key="HostName" value="demo.eprintsoftware.com" />
    <add key="com.eprintsoftware.www.eprintservice" value="http://dateservice.eprintsoftware.com/eprintservice.asmx" />
  </appSettings>
  <connectionStrings>
    <!--<add name="MasterConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=dbserver\dbserver;Initial Catalog=eprint_master;Persist Security Info=true;User ID=eprint_dbuser;Password=mLPt3W82WLITHOY7GH89#$;Pooling=false" />-->
    <add name="MasterConnectionString" connectionString="data source=DESKTOP-CLRHJPQ\SQLEXPRESS;initial catalog=eprint_master;user id=sa;password=password123" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--rewriteModule-->
  <modulesSection>
    <rewriteModule>
      <rewriteOn>false</rewriteOn>
      <rewriteRules>
        <rule source="products/searchproducts(.*).aspx" destination="products/searchproducts.aspx?&amp;type=$1" />
        <rule source="products/(.*)~(.*).aspx" destination="products/productdetails.aspx?ID=$1&amp;type=$2" />
        <rule source="productpopup.aspx" destination="common/productpopup.aspx?ID=$1&amp;type=$2" />
        <rule source="product(.*).aspx" destination="products/product.aspx?ID=$1" />
        <rule source="aboutus.aspx" destination="aboutus.aspx" />
        <rule source="contact.aspx" destination="contact.aspx" />
        <rule source="default.aspx" destination="default.aspx" />
        <rule source="login.aspx" destination="login.aspx" />
        <rule source="logout.aspx" destination="logout.aspx" />
        <rule source="checkout.aspx" destination="checkout.aspx" />
        <rule source="shoppingcart(.*)~(.*).aspx" destination="shoppingcart.aspx?ID=$1&amp;PID=$2" />
        <rule source="create_account.aspx" destination="create_account.aspx" />
        <rule source="account/account.aspx" destination="account/account.aspx" />
        <rule source="account/accountedit.aspx" destination="account/accountedit.aspx" />
        <rule source="account/addressbook.aspx" destination="account/addressbook.aspx" />
        <rule source="account/addressbooknew(.*).aspx" destination="account/addressbooknew.aspx?ID=$1" />
        <rule source="account/myorder.aspx" destination="account/myorder.aspx" />
        <rule source="order_confirmation(.*)~(.*)~(.*)~(.*)~(.*).aspx" destination="order_confirmation.aspx?OrdKey=$1&amp;type=$2&amp;key=$3&amp;BID=$4&amp;SID=$5" />
        <rule source="order(.*).aspx" destination="order.aspx?OrdKey=$1" />
        <rule source="cms(.*).aspx" destination="cms.aspx?ID=$1" />
        <rule source="ConfirmBeforeOrder(.*)~(.*)~(.*)~(.*)~(.*).aspx" destination="ConfirmBeforeOrder.aspx?OrdKey=$1&amp;type=$2&amp;key=$3&amp;BID=$4&amp;SID=$5" />
      </rewriteRules>
    </rewriteModule>
  </modulesSection>
  <!--rewriteModule-->
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <customErrors mode="Off" />
    <httpRuntime executionTimeout="900000" maxRequestLength="15360" useFullyQualifiedRedirectUrl="false" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=intellys;password=intellys" cookieless="false" timeout="500" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure aspx error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <machineKey validationKey="284F1A2E3BA750D17A7DEC3E557D4BFA7DA78FAD82F094E746B5E3826B21CB8073D7A5C87EA32AAE6A3AA4B49BBAA2042F813358ADBB45F0E36990D78B6A9680" decryptionKey="355473092F89DC9CACE31C22D6F1EFB338136B943EB5F046D9D49605F1E22BD4" validation="SHA1" decryption="AES" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--theme="Theme1"-->
    </pages>
    <httpModules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      <!--<tel>-->
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <!--<add name="RequestReduce" type="RequestReduce.Module.RequestReduceModule, RequestReduce" />-->
      <!--<tel>-->
    </httpModules>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <!--<tel>-->
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" />
      <add verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
      <add verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false" />
      <!--<tel>-->
    </httpHandlers>
    <identity impersonate="true" password="" userName="" />
    <compilation debug="true" targetFramework="4.6.1" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <!--rewriteModule-->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RewriteModule" />
      <add name="RewriteModule" type="RewriteModule.RewriteModule, RewriteModule" />
    </modules>
    <handlers accessPolicy="Read, Execute, Script">
      <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="PageHandlerFactory-ISAPI-2.0" />
      <remove name="WebServiceHandlerFactory-Integrated" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <!--<tel>-->
      <add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode" />
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode" />
      <add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode" />
      <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode" />
      <add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Execute" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
      <add name="PageHandlerFactory-ISAPI-4.0_32bit" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Execute" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="PageHandlerFactory-ISAPI-4.0_64bit" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Execute" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <!--<tel>-->
    </handlers>
    <httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/store/accounts/404.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/store/accounts/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.2" newVersion="5.5.13.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2010.3.1215.20" newVersion="2010.3.1215.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>