<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!--rewriteModule-->
    <sectionGroup name="modulesSection">
      <section name="rewriteModule" type="RewriteModule.RewriteModuleSectionHandler, RewriteModule"/>
    </sectionGroup>
    <!--rewriteModule-->
  </configSections>
  <appSettings>
    <add key="HostName" value="demo.eprintsoftware.com"/>
    <!--<add key="HostName" value="smartdisplays.hexihub.com"/>-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--rewriteModule-->
  <modulesSection>
    <rewriteModule>
      <rewriteOn>true</rewriteOn>
      <rewriteRules>
        <!--<rule source="products/(.*).aspx"   destination="products/products.aspx?ID=$1"/>-->
        <rule source="products/searchproducts(.*).aspx" destination="products/searchproducts.aspx?&amp;type=$1"/>
        <rule source="products/edit_template(.*)~(.*).aspx" destination="products/edit_template.aspx?CartItemID=$1&amp;ID=$2"/>
        <rule source="products/edit_template.aspx" destination="products/edit_template.aspx"/>
        <rule source="products/(.*)~(.*).aspx" destination="products/productdetails.aspx?ID=$1&amp;type=$2"/>
        <rule source="productpopup.aspx" destination="common/productpopup.aspx?ID=$1&amp;type=$2"/>
        <rule source="product(.*).aspx" destination="products/product.aspx?ID=$1"/>
        <rule source="aboutus.aspx" destination="aboutus.aspx"/>
        <rule source="contact.aspx" destination="contact.aspx"/>
        <rule source="default.aspx" destination="default.aspx"/>
        <rule source="default(.*).aspx" destination="default.aspx?frm=$1"/>
        <rule source="login.aspx" destination="login.aspx"/>
        <rule source="logout.aspx" destination="logout.aspx"/>
        <rule source="shoppingcart(.*)~(.*).aspx" destination="shoppingcart.aspx?ID=$1&amp;PID=$2"/>
        <rule source="create_account.aspx" destination="create_account.aspx"/>
        <rule source="account/account.aspx" destination="account/account.aspx"/>
        <rule source="account/accountedit.aspx" destination="account/accountedit.aspx"/>
        <rule source="account/addressbook.aspx" destination="account/addressbook.aspx"/>
        <rule source="account/addressbooknew(.*)~(.*).aspx" destination="account/addressbooknew.aspx?ID=$1&amp;type=$2"/>
        <rule source="account/myorder.aspx" destination="account/myorder.aspx"/>
        <!--<rule source="order_confirmation(.*).aspx"   destination="order_confirmation.aspx?ID=$1"/>-->
        <rule source="order_confirmation(.*)~(.*)~(.*)~(.*)~(.*).aspx" destination="order_confirmation.aspx?OrdKey=$1&amp;type=$2&amp;key=$3&amp;BID=$4&amp;SID=$5"/>
        <rule source="order(.*).aspx" destination="order.aspx?OrdKey=$1"/>
        <rule source="cms/(.*).aspx" destination="cms.aspx?ID=$1"/>
        <rule source="ConfirmBeforeOrdernew(.*)~(.*)~(.*)~(.*)~(.*).aspx" destination="ConfirmBeforeOrdernew.aspx?OrdKey=$1&amp;type=$2&amp;key=$3&amp;BID=$4&amp;SID=$5"/>
        <rule source="checkoutnew.aspx" destination="checkoutnew.aspx"/>
      </rewriteRules>
    </rewriteModule>
  </modulesSection>
  <!--rewriteModule-->
  <connectionStrings>
    <add name="MasterConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-FJG92BV\SQLEXPRESS;Initial Catalog=eprint_master;integrated security=true;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="900000" maxRequestLength="15360" useFullyQualifiedRedirectUrl="false" requestValidationMode="2.0"/>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="vjslib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpModules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
      <!--rewriteModule-->
      <add name="rewriteModule" type="RewriteModule.RewriteModule, RewriteModule"/>
      <!--rewriteModule-->
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <identity impersonate="true" password="" userName=""/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
      <remove name="RadUploadModule"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" preCondition="managedHandler"/>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="managedHandler"/>
      <add name="rewriteModule" type="RewriteModule.RewriteModule, RewriteModule"/>
    </modules>
    <!--rewriteModule-->
    <!--<modules runAllManagedModulesForAllRequests="true">
      <section name="rewriteModule" type="RewriteModule.RewriteModuleSectionHandler, RewriteModule"/>
      <add name="RewriteModule" type="RewriteModule.RewriteModule, RewriteModule"/>
    </modules>-->
    <!--rewriteModule-->
    <handlers>
      <remove name="ChartImage.axd_*"/>
      <remove name="Telerik.Web.UI.SpellCheckHandler.axd_*"/>
      <remove name="Telerik.Web.UI.DialogHandler.aspx_*"/>
      <remove name="Telerik.RadUploadProgressHandler.ashx_*"/>
      <remove name="Telerik.Web.UI.WebResource.axd_*"/>
      <remove name="ScriptResource.axd_GET,HEAD"/>
      <remove name="*_AppService.axd_*"/>
      <remove name="*.asmx_*"/>
      <add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode"/>
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode"/>
      <add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode"/>
      <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode"/>
    </handlers>
    <!--<httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/webstore_b2c/404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>-->
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>