<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="FilePath" value="D:\inetpub\vhosts\eprintsoftware.com\httpdocs\LiveDocuments\document\SecureDoc\dmc2\"/>-->
    <add key="FilePath" value="D:\inetpub\vhosts\eprintsoftware.com\httpdocs\LiveDocuments\document\SecureDoc\"/>
    <add key="FromEmail" value="donotreply@eprintsoftware.com"/>
    <add key="FromName" value="Eprint Support"/>
    <add key="ToEmail" value="errorlogs@eprintsoftware.com"/>
    <add key="bcc" value=""/>
    <add key="cc" value=""/>
    <add key="SMTPServerIP" value="172.31.5.196"/>
    <add key="SMTPServerUserName" value="mailer@hexihub.com"/>
    <add key="SMTPServerPassword" value="Pass: 4;TF9&gt;t"/>
    <add key="SMTPClientEnableSsl" value="false"/>
    <add key="SMTPPort" value="25"/>
    <!--<add key="SMTPServerIP" value="smtp.gmail.com" />
        <add key="SMTPServerUserName" value="config@eprintsoftware.com" />
        <add key="SMTPServerPassword" value="6S`Wdu{" />
        <add key="SMTPClientEnableSsl" value="true" />
        <add key="SMTPPort" value="587" />-->
    <add key="ServerName" value="DESKTOP-QJC2MPQ\SQLEXPRESS02"/>
    <add key="UserId" value="sa"/>
    <add key="Password" value="P@ssword883104"/>
    <!--<add key="ServerName" value="UX2258"/>
      <add key="UserId" value="eprint_dbuser"/>
      <add key="Password" value="mLPt3W82WLITHOY7GH89#$"/>-->
    <!--<add key="ServerName" value="172.31.6.188"/>
      <add key="UserId" value="eprint_dbconnect"/>
      <add key="Password" value="maznac-7Hocpo-ruknav"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=UX2258;Initial Catalog=eprint_dmc2;Persist Security Info=true;User ID=eprint_dbuser;Password=mLPt3W82WLITHOY7GH89#$;Pooling=false" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=LAPTOP-6FCTKC96\MSSQLSERVER17;Initial Catalog=eprint_demo;Persist Security Info=true;User ID=sa;Password=123;Pooling=false" providerName="System.Data.SqlClient"/>-->
    <!--<add name="masterconnectionstring" connectionString="data source=LAPTOP-6FCTKC96;initial catalog=eprint_master;user id=sa;password=123;" providerName="system.data.entityclient"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
