
div.dimmer 
{
	visibility: hidden;
	position:absolute;
	left:0px;
	top:0px;
	font-family:verdana;
	font-weight:bold;
	padding:40px;
	-moz-opacity:0.10;
    padding-top: 20%;
	background-image:url(../images/honey.png);
	/* ieWin only stuff */
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='../images/honey.png');
}


div.dimming {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
    background-color:  #FFFFCC;
	position:absolute;
	/* set z-index higher than possible */
	z-index:10000;
	visibility: hidden;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
}

table.floatingHeader
{
	background-color: #0000ff;
	color:#ffffff;
}






 

   