BODY {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial; LETTER-SPACING: 0px
}
TD {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial; LETTER-SPACING: 0px
}
TH {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial; LETTER-SPACING: 0px
}
.header1 {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #0066b3; TEXT-INDENT: 4px; FONT-FAMILY: Arial; HEIGHT: 40px; TEXT-ALIGN: left
}
.header2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #ff6d02; TEXT-INDENT: 0px; FONT-FAMILY: Arial; HEIGHT: 40px; TEXT-ALIGN: left
}
.header3 {
	FONT-SIZE: 12px; COLOR: #0066b3; FONT-FAMILY: Arial
}
.header2inverse {
	FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial
}
.menuheader {
	FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial
}
.tableheader {
	BORDER-RIGHT: #93cde9 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #93cde9 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #93cde9 1px solid; COLOR: #ffffff; TEXT-INDENT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #93cde9 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #2274b6; TEXT-DECORATION: none
}
.rowheader1 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; WORD-SPACING: 0.03em; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; COLOR: #333333; TEXT-INDENT: 5px; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffff33; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.rowheader2 {
	BORDER-RIGHT: #fbf1d7 thin groove; PADDING-RIGHT: 2px; BORDER-TOP: #fbf1d7 thin groove; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #fbf1d7 thin groove; COLOR: #ffffff; TEXT-INDENT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #fbf1d7 thin groove; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #787878; TEXT-DECORATION: none
}
.rowheader3 {
	BORDER-RIGHT: #fbe2ae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fbe2ae 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #fbe2ae 1px solid; COLOR: #333333; TEXT-INDENT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #fbe2ae 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #f8e9bf; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 11px; COLOR: #333333; LETTER-SPACING: 0px; TEXT-DECORATION: none; font-family: "Verdana",Verdana, Verdana,Arial,Helvetica; font-size:11px
}
A:hover {
	FONT-SIZE: 11px; COLOR: #0033cc; LETTER-SPACING: 0px; TEXT-DECORATION: none; font-family: "Verdana",Verdana, Verdana,Arial,Helvetica; font-size:11px
}
A:active {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.activelink {
	FONT-SIZE: 11px; COLOR: #0033cc; FONT-FAMILY: Arial; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
A.header2Link:link {
	FONT-SIZE: 14px; COLOR: #fa931a; FONT-FAMILY: Arial
}
A.header2Link:visited {
	FONT-SIZE: 14px; COLOR: #fa931a; FONT-FAMILY: Arial
}
A.header2Link:hover {
	FONT-SIZE: 14px; COLOR: #0066b3; FONT-FAMILY: Arial
}
A.more:link {
	FONT-SIZE: 10px; COLOR: #0066b3; FONT-FAMILY: Arial
}
A.more:visited {
	FONT-SIZE: 10px; COLOR: #0066b3; FONT-FAMILY: Arial
}
A.more:hover {
	FONT-SIZE: 10px; COLOR: #009900; FONT-FAMILY: Arial
}
A.hyper:link {
	FONT-SIZE: 11px; COLOR: #0066b3; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.hyper:visited {
	FONT-SIZE: 11px; COLOR: #0066b3; FONT-FAMILY: Arial
}
A.hyper:hover {
	FONT-SIZE: 11px; COLOR: #fa931a; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.FooterMenu {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Arial
}
.FooterMenu A {
	COLOR: #0066b3
}
A.FooterMenu:link {
	FONT-SIZE: 11px; COLOR: #0066b3; FONT-FAMILY: Arial
}
A.FooterMenu:visited {
	FONT-SIZE: 11px; COLOR: #0066b3; FONT-FAMILY: Arial
}
A.FooterMenu:hover {
	FONT-SIZE: 11px; COLOR: #fa931a; FONT-FAMILY: Arial
}
.input_small {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: 120px; COLOR: #585858; TEXT-INDENT: 2px; LINE-HEIGHT: 13px; FONT-FAMILY: Arial; LETTER-SPACING: 0.03em; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.input_medium {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: bottom; WIDTH: 160px; COLOR: #585858; TEXT-INDENT: 2px; LINE-HEIGHT: 13px; FONT-FAMILY: Arial; LETTER-SPACING: 0.03em; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.listmenu {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: bottom; WIDTH: 140px; COLOR: #585858; TEXT-INDENT: 2px; LINE-HEIGHT: 13px; FONT-FAMILY: Arial; LETTER-SPACING: 0.03em; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.buttonsmall {
	BORDER-RIGHT: #2071b5 1px outset; PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; BORDER-TOP: #2071b5 1px outset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(file:///F|/Library/Standard%20CSS/images/menu_button.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #2071b5 1px outset; WIDTH: 80px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #2071b5 1px outset; FONT-FAMILY: Arial; LETTER-SPACING: 0em; HEIGHT: 24px; TEXT-ALIGN: center
}
.button1medium {
	BORDER-RIGHT: #2071b5 1px outset; PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; BORDER-TOP: #2071b5 1px outset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(file:///F|/Library/Standard%20CSS/images/menu_button.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #2071b5 1px outset; WIDTH: 120px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #2071b5 1px outset; FONT-FAMILY: Arial; LETTER-SPACING: 0em; HEIGHT: 24px; TEXT-ALIGN: center
}
.mandatory {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Arial
}
.smalltxt {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Arial
}
.input_large {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: 230px; COLOR: #585858; TEXT-INDENT: 2px; LINE-HEIGHT: 13px; FONT-FAMILY: Arial; LETTER-SPACING: 0.03em; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.Addlink {
	FONT-SIZE: 10px; COLOR: #0066b3; FONT-FAMILY: Arial
}
.gridcellhide {
	DISPLAY: none
}
